<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConsonantLockLanguage</title>
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div>

        <label for="input_string">入力文字列:</label>
        <input type="text" id="input_string" />

        <label for="line_type">変換行:</label>
        <select id="line_type">
            <option value="a">あ行</option>
            <option value="ka">か行</option>
            <option value="sa">さ行</option>
            <option value="ta">た行</option>
            <option value="na">な行</option>
            <option value="ha">は行</option>
            <option value="ma">ま行</option>
            <option value="ya">や行</option>
            <option value="ra">ら行</option>
            <option value="ga">が行</option>
            <option value="za">ざ行</option>
            <option value="da">だ行</option>
            <option value="ba">ば行</option>
            <option value="pa">ぱ行</option>
        </select>
    </div>
    <div>
        <button onclick="convertButton()">変換</button>
    </div>
    <div id="result">
    </div>
</body>
</html>
